<template name="topBar">
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{postsListPath}}">Discover</a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" class="btn ">{{loginButtons}}</a></li>
        {{#if currentUser}}
        <li><a class="" href="{{postSubmitPath}}">Новая запись</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
</template>