<template name="postSubmit">
<form class="main">
    <fieldset>
        <legend>Новая запись</legend>
        <label class="control-label" for="url">URL</label>
        <input name="url" type="text" value="" placeholder="Your URL"/>

        <label class="control-label" for="title">Title</label>
        <input name="title" type="text" value="" placeholder="Name your post"/>


        <label class="control-label" for="message">Message</label>
        <textarea name="message" type="text" value=""/>

        <br>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </fieldset>
</form>
</template>